<div class="panel panel-default">
	<div class="panel-heading">
		Bienvenido
	</div>
	<div class="panel-boddy">
		que accion deseas realizar?
		<%= link_to 'Administrar Clinicas', admin_clinics_path%>
	</div>
</div>